/* RESET E DEFINIÇÕES GERAIS*/
body, h1, h2, a, p, span, ul, li {
  margin: 0px;
  padding: 0px;
}

ul{
  list-style: none;
}

body{
  background: #f8f9fd;
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
  display: block;
}

*{
  box-sizing: border-box;
}

button{
  cursor: pointer;
  outline: none;
}

/*** HEADER ***/

header{
  padding: 25px 16px;
  display: grid;
  grid-template-columns: 392px 1fr;
  align-items: center;
}


/* header modificado quando adicionado contato. inclui a adição de um botão. */
.headerModificado{
  grid-template-columns: 208px 144px 1fr;
}

.headerModificado button{
  height: 32px;
}

.headerModificado input{
  margin-left: 32px;
}

.headerModificado a{
  margin-right: 60px;
}

header a{
  max-width: 180px;
}

header > input{
  border-radius: 4px;
  height: 32px;
  padding: 7px 19px 6px 8px;
  font-family: 'Roboto', sans-serif; 
  font-size: 1rem;
  color: #9198af;
  background-color: #e4e7f4;
  background-image: url('../assets/icone-logo.svg');
  background-repeat: no-repeat;
  background-position: 99%;
  border: none;
  outline: none;
}

.logo{
  width: 148px;
}

/*** SEÇÃO ADICIONAR CONTATO ***/

.add img{
  padding-top: 112px;
  margin: 0 auto;
}

.add p {
  text-align: center;
  font-size: 1rem;
  color: #2a2d3b;
  margin: 24px 0px;
}

.add button, header button{
  width: 144px;
  height: 40px;
  margin: 24px 47px 0;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px rgba(255, 255, 255, 0.16);
  background-color: #dbff90;
  color: #fa7268;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add button::before, header button::before{
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/cruzbtn.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 8px;
}

/*** MODAL CADASTRAR ***/

.modal-container{
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  width: 432px;
  height: 342px;
  padding: 16px 16px 0px 16px;
  border-radius: 16px;
  box-shadow: 0 16px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.modal p {
  color: #2a2d3b;
  font-size: 16px;
}

.modal p::after{
  content: '';
  display: block;
  width: 432px;
  height: 1px;
  background: #c0c3d2;
  margin-top: 12px;
  position: relative;
  left: -16px;
  margin-bottom: 20px;
}

.modal label{
  display: block;
  font-size: 0.875rem;
  color: #2a2d3b;
  margin-bottom: 4px;
}

.modal input{
  margin-bottom: 16px;
  width: 384px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #c0c3d2;
  background-color: #fff;
  padding: 0px 5px;
}

.btns{
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
  margin-top: 20px;
}


.cancelar{
  background: none;
  border: none;
  font-size: 0.875rem;
  color: #fa7268;
  font-weight: 500;
}

.salvar{
  margin-left: 16px;
  width: 72px;
  height: 32px;
  color: #ffff;
  padding: 8px 16px;
  opacity: 0.32;
  border-radius: 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px rgba(255, 255, 255, 0.16);
  background-color: #fa7268;
  opacity: 0.32;
}

.preenchido{
  opacity: 1;
}

.cancelar::before{
  content: '';
  display: block;
  width: 432px;
  height: 1px;
  background: #c0c3d2;
  margin-top: 12px;
  position: absolute;
  left: 0;
  right: 0;
  margin: -25px auto;
}

#telefone{
  max-width: 128px;
}

/*** SEÇÃO CONTATOS ***/

.contatos{
  margin: 16px;
  background: white;
}

.titulos{
  border: 1px solid #e1e1e1;
  padding: 16px 47px 9px 47px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 60px;
  justify-content: space-between;
}

.titulos p{
  font-size: 0.875rem;
  font-weight: normal;
  color: #9198af;
}

.contatos ul li{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 60px;
  padding: 16px 47px 9px 47px;
  color: #2a2d3b;
  font-size: 0.875rem;
  border: 1px solid #e1e1e1;
  background: #fff;
  position: relative;
}

.contatos ul li.ativo{
  background: #fff3f2;
  animation: mudarCor 0s forwards;
  animation-delay: 10.05s;
}

@keyframes mudarCor {
  from{
    background: #fff3f2;
  }
  to{
    background: white;
  }
}

.contatos ul li:hover{
  background: #fff3f2 !important;
}

.contatos button{
  background: none;
  border: none;
  display: inline-block;
  outline: none;
}

.config-contato{
  justify-self: end
}

.iconeNome{
  position: absolute;
  padding: 1px 0px 0px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 8px;
  bottom: 8px;
  width: 24px;
  height: 24px;
  font-size: 1rem;
  border-radius: 50%;
  color: white;
}

/*** MODAL EXCLUIR CONTATOS ***/

.modalExcluir{
  width: 432px;
  height: 207px;
  padding: 16px 16px 0px 16px;
  border-radius: 16px;
  box-shadow: 0 16px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.modalExcluir .btns{
  align-self: flex-end !important
}

.modalExcluir p:first-of-type{
  font-size: 1rem;
  color: #2a2d3b;
}

.modalExcluir p:last-of-type{
  font-size: 14px;
  color: #2a2d3b;
}

.modalExcluir p:first-child::after{
  content: '';
  display: block;
  width: 432px;
  height: 1px;
  background: #c0c3d2;
  margin-top: 12px;
  position: relative;
  left: -16px;
  margin-bottom: 20px;
}

.modalExcluir .btns{
  margin-top: 70px;
}