<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Clicksign - Processo Seletivo</title>
</head>
<body>
  <div id="app">

    <header :class="{headerModificado: !agendaVazia}">
      <a href="index.html"><img src="assets/ubook-logo.svg" alt="imagem logo ubook" class="logo"></a>
      <button @click="modal = true" v-if="!agendaVazia">Criar Contato</button>
      <input type="text" placeholder="Busca..." @keyup.enter="buscar" v-model="busca">
    </header>
    <!-- / header -->

    <section class="add" v-if="agendaVazia">
      <img src="assets/addcontato.svg" alt="ilustração clicksing adicionar contato">
      <p>Nenhum contato foi criado ainda</p>
      <button @click="modal = true">Criar Contato</button>
    </section>
    <!-- / painel inicial quando nenhum cadastro foi criado -->

    <section class="contatos" v-if="!agendaVazia">
      <div class="titulos">
        <p>Contatos</p>
        <p>E-mail</p>
        <p>Telefone</p>
      </div>
        <ul>
          <li v-for="(contato, index) in contatos" class="listaContato">
            <p><span class="iconeNome" :style="{background: contato.bgColor}">{{contato.nome.charAt(0).toUpperCase()}}</span>{{contato.nome}}</p>
            <p>{{contato.email}}</p>
            <p>{{contato.tel}}</p>
            <div class="config-contato">
              <button @click="editar(index)" title="editar"><img src="assets/editar.svg" alt="editar"></button>
              <button @click="remover(index)" title="remover"><img src="assets/deletar.svg" alt="deletar"></button>
            </div>
          </li>
        </ul>
    </section>
    <!-- / seção contatos -->

    <section class="modal-container" v-if="modal" @mousedown="fecharModal">
      <div class="modal">
        <p v-if="editarModal === false">Criar novo contato</p>
        <p v-if="editarModal === true">Editar contato</p>
          <label for="nome">Nome</label>
          <input type="text" name="nome" id="nome" v-model="contatoDados.nome">
          <label for="email">E-mail</label>
          <input type="text" name="email" id="email" v-model="contatoDados.email">
          <label for="telefone" class="telefone">Telefone</label>
          <input type="text" name="telefone" id="telefone" v-model="contatoDados.tel">
          <div class="btns">
            <button class="cancelar" @click="limparCampo">Cancelar</button>
            <button class="salvar" v-if="!habilitado" disabled>Salvar</button>

            <button type="submit" class="salvar preenchido" v-if="habilitado && editarModal === false" @click="cadastrar">Salvar</button> <!--Botão para criar cadastro-->

            <button type="submit" class="salvar preenchido" v-if="habilitado && editarModal === true" id="salvarAlteracao">Salvar</button> <!--Botão para editar cadastro-->
            
          </div>
      </div>
    </section>
    <!-- / modal criar e editar cadastro -->

    <section class="modal-container" v-if="modalExcluir" @mousedown="fecharModal">
      <div class="modalExcluir">
        <p>Excluir cadastro</p>
        <p>Tem certeza que deseja excluir o cadastro?</p>
          <div class="btns">
            <button class="cancelar" @click="modalExcluir = false">Cancelar</button>
            <button class="salvar preenchido" id="excluir">Excluir</button>
          </div>
      </div>
    </section>
    <!-- / modal excluir cadastro -->

  </div>
  <script src="./app.js"></script>
</body>
</html>